    .footer-container-soc {margin-left: 70px;}
    .footer-title {
        margin-bottom: 20px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    .footer-soc-list {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .footer-soc-item {}
    .footer-soc-link {
        width: 44px;
        height: 44px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        
        color: #FFFFFF;
        background-color: rgb(255,255,255,10%);

        transition: background-color var(--duration) var(--timing-function);
    }
    .footer-soc-icon {fill: currentColor;}
        .footer-soc-link:hover, .footer-soc-link:focus {background-color: var(--accent-color); outline-color: #FFFFFF;}